<%- include("./partials/header") %>

<style>
    body{
        background: #FF512F;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-family: 'Pacifico', cursive;
        text-align: center;color:white;
        font-size: 20px;
    }
    .card{
        color:white;
        text-align: center;
    }
    hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    }
</style>
<body>
    <div style="margin-left: 10%; margin-right:10%">
        Ink Overflow helps all the literature enthusiasts to
        share and get help on their writings such as poems,blogs,short 
        stories,thoughts,quotes,etc. A stack overflow clone for literature.
        We strive for your betterment.
    </div><hr>
    <h3>Developers<h3><hr>
    <div class="card">
        Yash Tailor
    </div>
    <div class="card">
        Palak Mantry
    </div>
    <div class="card">
        Tanaya Lad
    </div>
    <div class="card">
        Shivamdhar Dubey
    </div><hr>
    <div>
        for any query mail us at,<br>
        developers.inkoverflow@gmail.com
    </div>
</body>
<footer style="text-align: right;color:white;margin-top: 120px;font-size: 20px;">
    <span style="margin-right: 130px;">love,</span> <br>
    team Ink Overflow
</footer>

<%- include("./partials/footer") %>