<%- include("./partials/header") %>
<html>

<head>

  <script src="https://cdn.tiny.cloud/1/ck34jpz332i3gk4dysyfxsru58yges66h6kj44w4qv7nann8/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
  <style>
    .inner {
      padding: 10px;
      margin-left: 5%;
      width: 50%;
      height: 10%
    }

    .button {
      display: inline-block;
      padding: 5px 5px;
      font-size: 10px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: blue;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }

    .button:hover {
      background-color: #3e8e41
    }

    .button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  </style>

  </style>
</head>

<body
  style="background-image: url('https://image.shutterstock.com/image-illustration/alcohol-ink-sea-texture-contemporary-260nw-1490726699.jpg'); background-size:cover;">
  <div class="inner">
    <form action="/createPost" method="POST">
      <button
        style="background-color: black; color: white; margin-top: 10px; width: 100px; height:50px; border: 2px solid blueviolet;">Create
        Post</button>
      <textarea rows="6" name="text">
    Pen here
  </textarea>
      <script>
        tinymce.init({
          selector: 'textarea',
          plugins: 'a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
          toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter pageembed permanentpen table',
          toolbar_mode: 'floating',
          tinycomments_mode: 'embedded',
          tinycomments_author: 'Yash Tailor'
        });
      </script>

      <script src="/wp-includes/js/addInput.js" language="Javascript" type="text/javascript"></script>
      <div id="dynamicInput">
        <br><input type="text" name="myInputs[]" placeholder="Tag associated with your post">
      </div>
      <input type="button" class="button" value="Add another tag" onClick="addInput('dynamicInput');">
      <script>
        var counter = 1;
        var limit = 5;
        function addInput(divName) {

          if (counter == limit) {
            alert("You have reached the limit of adding " + counter + " inputs");
          }
          else {
            var newdiv = document.createElement('div');
            newdiv.innerHTML = "<br><input type='text' name='myInputs[]' placeholder='Tag associated with your post' required>";
            document.getElementById(divName).appendChild(newdiv);
            counter++;
          }
        }

      </script>
      <br>

    </form>
  </div>
</body>

</html>
<%- include("./partials/footer") %>