<%- include("./partials/header") %>
<html>
<head>
  <script src="https://cdn.tiny.cloud/1/ck34jpz332i3gk4dysyfxsru58yges66h6kj44w4qv7nann8/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body style="margin-top: 100px; margin-left: 20px; margin-right: 20px;">
  <form action="/createPost" method="POST">
  <textarea rows="100" name="text">
    Pen here
  </textarea>
  <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
      toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter pageembed permanentpen table',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Yash Tailor'
    });
  </script>
  <input type="text" name="tag" id="tag" placeholder="tag">
  <button style="background-color: blue; color: white; margin-top: 10px; width: 100px; height:50px; border: 2px solid blueviolet;">SUBMIT</button>
  </form>
</body>
</html>
<%- include("./partials/footer") %>



  




