<%- include("./partials/header") %>
<style>
  .create-post{
    background: inherit;
    border: 5px solid white;
    padding: 15px;
    color:white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 150px;
  }

  input{
    background-color: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
  }
</style>
<html>

<head>

  <script src="https://cdn.tiny.cloud/1/ck34jpz332i3gk4dysyfxsru58yges66h6kj44w4qv7nann8/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
  <style>
    .inner {
      padding: 10px;
      margin-left: 25%;
      width: 50%;
      height: 10%;
      text-align: center;
      border: 2px solid white;
      padding: 20px;
      -webkit-box-shadow: 0px 10px 10px #de1dde;
      -moz-box-shadow: 0px 10px 10px #de1dde;
      box-shadow: 0px 8px 8px rgb(240, 160, 206);
    }

    .button {
      background: inherit;
      border: 5px solid white;
      padding: 15px;
      color:white;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      width: 110px;
    }

    body{
      background: #AA076B;  
      background: -webkit-linear-gradient(to right, #61045F, #AA076B);  
      background: linear-gradient(to right, #61045F, #AA076B); 

    }
  </style>
</head>

<body>
  <div class="inner">
    <form action="/createPost" method="POST">
  <textarea rows="30" name="text">
    Pen here
  </textarea>
      <script>
        tinymce.init({
          selector: 'textarea',
          plugins: 'a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
          toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter pageembed permanentpen table',
          toolbar_mode: 'floating',
          tinycomments_mode: 'embedded',
          tinycomments_author: 'Yash Tailor'
        });
      </script>

      <script src="/wp-includes/js/addInput.js" language="Javascript" type="text/javascript"></script>
      <h4 style="color: white; text-align: left;">Add Tags:</h4>
      <div id="dynamicInput">
        <br><input type="text" name="myInputs[]" placeholder="Tag associated with your post" style="float: left;margin-right: 300px;width:210px">
        
      </div>
      <input type="button" class="button" value="Add another tag" onClick="addInput('dynamicInput');" required>
      <script>
        var counter = 1;
        var limit = 5;
        function addInput(divName) {

          if (counter == limit) {
            alert("You have reached the limit of adding " + counter + " inputs");
          }
          else {
            var newdiv = document.createElement('div');
            newdiv.innerHTML = "<br><br><input type='text' name='myInputs[]' placeholder='Tag associated with your post' required style='float:left; margin-right:300px;width:210px;'>";
            document.getElementById(divName).appendChild(newdiv);
            counter++;
          }
        }

      </script>
      <br>
      <button class="create-post" style="margin-right: 15%;margin-top: 20px; ">Create Post</button><br><br>
    </form>
  </div>
</body>

</html>
<%- include("./partials/footer") %>