<%- include("./partials/header") %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style>
  #textarea {
    width: 90%;
    height: 700px;
    border: 3px solid blue;
    margin: auto;
    text-align: left;
    background-color: white;
  }

  button {
    font-weight: bold;
  }

  body {
    text-align: center;
    margin: 10px;
    background-color: darkcyan;
  }
</style>
<div style="border: 3px solid blue; width:90%; margin-top:80px; margin-left: 70px;">
  <span style="font-size: 20px; color:white">Pallete :</span>
  <button id="jBold"><b>B</b></button>
  <button id="jItalicize"><i>i</i></button>
  <button id="jUnderline"><u>U</u></button>
  <button id="jSubscript">x<sub>y</sub></button>
  <button id="jSuperscript">x<sup>y</sup></button>
  <button id="jStrikethrough" style="text-decoration: line-through;">cancel</button>
  <button id="jfontsize1"><b>H1</b></button>
  <button id="jfontsize2"><b>H2</b></button>
  <button id="jfontsize3"><b>H3</b></button>
  <button id="jfontsize4"><b>H4</b></button>
  <button id="jfontsize5"><b>H5</b></button>
  <button id="jfontsize6"><b>H6</b></button>
  <button id="jfontsize7"><b>H7</b></button>
  <button id="jcolorRed"><b>Red</b></button>
  <button id="jcolorGreen"><b>Green</b></button>
  <button id="jcolorBlue"><b>Blue</b></button>
  <button id="jcolorBlack"><b>Black</b></button>
  <button id="jfontHelvetica"><b>Helvetica</b></button>
  <button id="jfontArial"><b>Arial</b></button>
  <button id="jfontVerdana"><b>Verdana</b></button>
  <button id="jfontSans"><b>Sans-serif</b></button>
  <!-- <button style="background-color: blue; color: white;">SUBMIT</button>-->
</div>

<form action="/createPost" method="POST">
  <!-- <div id='textarea' contenteditable style="margin-top: 20px;" name="text">
    
    <script>
      $(document).ready(function() {
      $('#jBold').click(function() {
      document.execCommand('bold');
    });
    $('#jItalicize').click(function() {
      document.execCommand('italic');
    });
    $('#jUnderline').click(function() {
      document.execCommand('underline');
    });
    $('#jSubscript').click(function() {
      document.execCommand('subscript');
    });
    $('#jSuperscript').click(function() {
      document.execCommand('superscript');
    });
    $('#jStrikethrough').click(function() {
      document.execCommand('strikethrough');
    });
    $('#jfontsize1').click(function() {
      document.execCommand("fontSize", false, 1);
    });
    $('#jfontsize2').click(function() {
      document.execCommand("fontSize", false, 2);
    });
    $('#jfontsize3').click(function() {
      document.execCommand("fontSize", false, 3);
    });
    $('#jfontsize4').click(function() {
      document.execCommand("fontSize", false, 4);
    });
    $('#jfontsize5').click(function() {
      document.execCommand("fontSize", false, 5);
    });
    $('#jfontsize6').click(function() {
      document.execCommand("fontSize", false, 6);
    });
    $('#jfontsize7').click(function() {
      document.execCommand("fontSize", false, 7);
    });
    $('#jcolorRed').click(function() {
      document.execCommand("forecolor", false, '#ff0000');
    });
    $('#jcolorGreen').click(function() {
      document.execCommand("forecolor", false, '#00ff00');
    });
    $('#jcolorBlue').click(function() {
      document.execCommand("forecolor", false, '#0000ff');
    });
    $('#jcolorBlack').click(function() {
      document.execCommand("forecolor", false, '#000000');
    });
    $('#jfontHelvetica').click(function() {
      document.execCommand("fontName", false, 'helvetica');
    });
    $('#jfontVerdana').click(function() {
      document.execCommand("fontName", false, 'verdana');
    });
    $('#jfontArial').click(function() {
      document.execCommand("fontName", false, 'arial');
    });
    $('#jfontSans').click(function() {
      document.execCommand("fontName", false, 'sans-serif');
    });
    });
    </script>
    
  </div> -->
  <input type="text" placeholder="add a genre" name="tag"></input>
  <textarea name="text" id="textarea" cols="100" rows="200"></textarea>
  <button
    style="background-color: blue; color: white; margin-top: 10px; width: 100px; height:50px; border: 2px solid blueviolet;">SUBMIT</button>
</form>

<%- include("./partials/footer") %>