<%- include("./partials/header") %>
<br>
<br>
<br>
<div class="container"
    style="font-size: 20px; padding: 20px; margin: 20px; border: 3px solid black; background-color: lightgreen; border-radius: 20px">
    <form action="/edit/<%= post._id %>?method=PUT" method="POST">

        <div class="form-group">
            <input class="form-control" type="text" name="post[text]" value="<%= post.text %>">
        </div>
        <button class="btn btn-success">edit</button>
    </form>
</div>
<%- include("./partials/footer") %>