<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        div{
            margin: auto;
        }
        button{
            margin-left:25%;
            margin-top: 10px;
            padding:40px;
            font-size: 30px;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="/register"><button  class="btn btn-primary">Register</button></a><br>
        <a href="/login"><button  class="btn btn-primary">Login</button></a><br>
        <a href="/logout"><button  class="btn btn-primary">Logout</button></a>
    </div>
</body>
</html>