<%- include("./partials/headerlr") %>
<style>
    input,
    button {
        padding: 10px;
        margin: 20px;
        width: 400px;
        border-radius: 10px;
        text-align: center;
        border: 1px solid black;
    }

    button {
        background-color: rgb(61, 21, 6);
        color: white;
    }

    .container {
        width: 500px;
        border: 5px solid rgb(61, 21, 6);
        padding: 20px;
        border-radius: 20px;
        margin-left: 20%;
        box-shadow: 10px 10px 10px 10px black;
    }

    body {
        background: #ffd89b;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #19547b, #ffd89b);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #19547b, #ffd89b);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-family: 'Pacifico', cursive;
        font-size: 20px;

    }


    h3 {
        text-align: center;
        font-size: 50px;
        color: rgb(61, 21, 6);
        ;
        margin-bottom: 10px;
    }
</style>
<div class="container" style="margin-left: 30%; margin-top: 2%;">
    <form action="/register" method="POST" class="form form-group">
        <h3>Register</h3>
        <input type="text" placeholder="username" name="username" required><br>
        <input type="password" placeholder="password" name="password" required><br>
        <input type="text" placeholder="email" name="email" required><br>
        <input type="text" placeholder="Description" name="desc" required><br>

        <button type="submit" style="border-radius: 10px;">Submit</button>
    </form>
</div>
<%- include("./partials/footer") %>