<%- include("./partials/header") %>
<style>
    input,
    button {
        padding: 10px;
        margin: 20px;
        width: 500px;
        border-radius: 20px;
        border: 3px solid black;
        text-align: center;
    }

    .container {
        width: 600px;
        border: 2px solid black;
        padding: 20px;
        border-radius: 20px;
    }

    body {
        background-color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;

    }

    div {
        background-color: rgb(248, 177, 188, 0.5);
        box-shadow: 3px 3px black;
    }

    h3 {
        text-align: center;
        font-size: 40px;
        color: white;
        margin-bottom: 10px;
    }
</style>
<div class="container" style="margin-left: 25%; margin-top: 10%;">
    <form action="/register" method="POST" class="form form-group">
        <h3>REGISTER</h3>
        <input type="text" placeholder="username" name="username"><br>
        <input type="password" placeholder="password" name="password"><br>
        <button type="submit" class="btn btn-primary"
            style="border-radius: 20px; height: 40px; box-shadow: 5px 5px black; font-size: 15px;">Submit</button>
    </form>
</div>
<%- include("./partials/footer") %>